// LeftSide
.leftbar-grid {
    .leftbar-wrapper {
        // Left Box
        .left-box {
            // Left Title
            .left-title {
                &#name {
                    &:after {
                        height: auto;
                    }
                }
                &#dob {
                    &:after {
                        height: auto;
                    }
                }
                &#contact {
                    &:after {
                        height: auto;
                    }
                }
                &#education {
                    &:after {
                        height: auto;
                    }
                }
                &#skill {
                    &:after {
                        height: auto;
                    }
                }
            }
            // Left Desciption
            .left-desc {
                &:before {
                    border-bottom: 4px solid white;
                    content: "";
                    position: absolute;
                    top: 0.75rem;
                    width: 20px;
                    margin-left: -2rem;
                }
            }
        }
    }
}