$background-1 : #16161f;
$background-2 : #1f2033;

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #55b5db;
    &.active {
        text-decoration: white;
        .variable-text {
            color: #ee6f57;
        }
        .page-text {

        }
        .checking-value-text {
            color: #9fca56;
        }
    }
    .variable-text {
        color: #e6cd69;
    }
    .page-text {

    }
    .checking-value-text {
        color: #cd3f45;
    }
}

.cursor-image {
    color: transparent;
    &.active {
        color: white;
    }
}