// Variable
@import './config.scss';

body {
    background-color: $background-1 !important;
    font-family: 'Inconsolata', monospace;
}

.card-layout {
    background-color: $background-2 !important;
}

@import '../styles/sidebar.scss';